$sidebar-width: 24vh;

body{
  background-color: #e2e2e2;
}

#panel {
  color: #363636;
  position:relative;

  height: calc(100% - 56px);
  min-height: calc(100% - 56px);

  #panel-content{
    padding-left: $sidebar-width;
  }
}

p{
  white-space: pre;
}
