<app-navbar></app-navbar>
<div *ngIf="loading" id="loading">
  <div class="spinner"></div>
  <p>Changing your password...</p>
</div>

<div class="container" *ngIf="!loading">
  <h2>Change your password</h2>
  <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div *ngIf="error" class="invalid-feedback">
        <div class="invalid bigerror">Failed to change password; {{ error }}</div>
      </div>
      <label for="cpassword">Current Password</label>
      <input autocomplete="current-password" id="cPassword" type="password" formControlName="cPassword"
             class="form-control" [ngClass]="{ 'is-invalid': submitted && changeForm.controls['cPassword'].errors }"/>
      <div *ngIf="submitted && changeForm.controls['cPassword'].errors" class="invalid-feedback">
        <div class="invalid" *ngIf="changeForm.controls['cPassword'].errors.required">Current password is required</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="password">Password</label>
        <input autocomplete="new-password" id="password" type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && changeForm.controls['password'].errors }"/>
        <div *ngIf="submitted && changeForm.controls['password'].errors" class="invalid-feedback">
          <div class="invalid" *ngIf="changeForm.controls['password'].errors.required">Password is required</div>
          <div class="invalid"
               *ngIf="!(changeForm.controls['password'].errors.required) && changeForm.controls['password'].errors.PassTooWeak">
            Please pick a stronger password
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="confirmPassword">Confirm password</label>
        <input autocomplete="new-password" id="confirmPassword" type="password" formControlName="confirmPassword"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && changeForm.controls['confirmPassword'].errors }"/>
        <div *ngIf="submitted && changeForm.controls['confirmPassword'].errors" class="invalid-feedback">
          <div class="invalid" *ngIf="changeForm.controls['confirmPassword'].errors.required">You must type your
            password twice.
          </div>
          <div class="invalid"
               *ngIf="!(changeForm.controls['confirmPassword'].errors.required) && changeForm.controls['confirmPassword'].errors.MatchPassword">
            Passwords do not match.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Change password</button>
    </div>
  </form>
  <notifier-container></notifier-container>
</div>
