#heading{
  height: 3rem;
  width: 100%;
  background-color: #101010;

  #page-title{
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  #server{
    float: right;
    width: 10rem;
    margin-right: .5rem;
    margin-top: .7rem;

    color: #fff;
    #status {
      .bold{
        font-weight: bold;
      }

      .dot {
        display: inline-block;
        vertical-align: middle;

        border-radius: 50%;
        background-color: #EEE;
        height: 15px;
        width: 15px;
        margin: 0 0 0 0;
      }

      .dot-running {
        background-color: #449D44;
      }

      .dot-stopped {
        background-color: #D9534F;
      }

      .dot-working {
        background-color: #F0AD4E;
      }
    }
  }

  h3{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
