#heading{
  height: 3rem;
  width: 100%;
  background-color: #101010;

  #server{
    float: right;
    width: 10rem;
    margin-right: 3rem;
    margin-top: .3rem;
  }

  h3{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

select{
  color: #fff !important;
  background-color: #1A1A1D !important;
  border-color: #1A1A1D !important;

  option{
    color: #fff !important;
  }
}
