<app-panel-frame>
  <div *ngIf="changeLoading" id="loading">
    <div class="spinner"></div>
    <p>Loading server data...</p>
  </div>

  <div class="row" id="settings" *ngIf="!changeLoading">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <span>General Settings</span>
        </div>
        <div class="card-block">
          <div id="empty-change" *ngIf="nothingToChange">
            <p>There seems to be nothing here...</p>
          </div>
          <div *ngIf="!nothingToChange">
            <p><b>Please note:</b> Changing your server plan may have unintended side-effects such as plugin removal.
              This change may be irreversible, due to certain technical limitations of certain games.</p>
            <button [disabled]="serverSocket.lastStatus !== 'Stopped' || changeLoading" data-toggle="modal"
                    data-target="#changeModal"
                    type="button" class="btn btn-secondary btn-block server-action">Change Plan
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" id="danger">
      <div class="card">
        <div class="card-header">
          <span>Danger Zone</span>
        </div>
        <div class="card-block">
          <p><b>Warning:</b> Server removal will result in immediate permanent loss of data. We recommend downloading
            your server files on a daily basis and backing up your data. We are not able to recover your server after
            deletion.</p>
          <div>
            <button [disabled]="serverSocket.lastStatus !== 'Stopped'" data-toggle="modal" data-target="#removeModal"
                    type="button" class="btn btn-danger btn-block server-action">Remove My Server
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reinstallModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><b>Wait just one moment!</b> Are you sure you want to remove your server? If your experiencing technical
            issues, our support team would be happy to assist you.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
          <button [disabled]="serverSocket.lastStatus !== 'Stopped'" type="button" data-dismiss="modal"
                  (click)="removeServer()" class="btn btn-primary">I'm sure
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="changeModal" aria-hidden="true"
       #changeModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="changeForm" (ngSubmit)="updatePlan()">
          <div class="modal-header">
            <h5 class="modal-title" id="changeModalLabel">Update server plan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Warning:</b> Changing your server plan may be irreversible.</p>
            <div class="form-group">
              <label for="preset">Server plan</label>
              <select id="preset" formControlName="preset" class="form-control"
                      [ngClass]="{ 'is-invalid': changeSubmitted && changeForm.controls['preset'].errors }">
                <option *ngFor="let preset of presetList" [ngValue]="preset._id">{{ preset.name }}</option>
              </select>

              <div *ngIf="changeSubmitted && changeForm.controls['preset'].errors" class="invalid-feedback">
                <div class="invalid" *ngIf="changeForm.controls['preset'].errors.required">Type is required</div>
              </div>
            </div>
            <div *ngIf="error" class="invalid-feedback">
              <div class="invalid bigerror">Failed to change preset; {{ error }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="serverSocket.lastStatus !== 'Stopped' || changeLoading" type="submit"
                    class="btn btn-primary">Update plan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-panel-frame>
