<app-panel-frame>
  <div class="row" id="subowners">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Manage sub-users
        </div>
        <div class="card-block">
          <ul *ngIf="subUsers.length > 0" class="list-group">
            <li *ngFor="let subuser of subUsers" class="list-group-item justify-content-between">
              {{ subuser.account_info.username }}
              <span (click)="removeUser(subuser._id)" class="badge badge-default badge-pill remove-user"><i
                class="material-icons">clear</i></span>
            </li>
          </ul>
          <p *ngIf="subUsers.length < 1" id="empty-list">There seems to be nothing here...</p>
        </div>
        <div class="card-footer text-muted">
          <button class="btn btn-success btn-lg btn-block add-user" data-target="#addModal" data-toggle="modal"
                  type="button">
            Add user
          </button>
        </div>
      </div>
    </div>
  </div>
  <div #addModal aria-hidden="true" aria-labelledby="addModal" class="modal fade" id="addModal" role="dialog"
       tabindex="-1">
    <form (ngSubmit)="addUser()" [formGroup]="addForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Add sub-user to server</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="email">User email address:</label>
              <input class="form-control" formControlName="email" id="email" type="email"/>
              <div *ngIf="addSubmitted && addForm.controls['email'].errors" class="invalid-feedback">
                <div *ngIf="addForm.controls['email'].errors.required" class="invalid">Email is required</div>
                <div *ngIf="!addForm.controls['email'].errors.required && addForm.controls['email'].errors.email"
                     class="invalid">Email
                  must be a valid email.
                </div>
              </div>
            </div>
            <p><b>Be careful!</b> Users that are added to your server may access sensitive server files and execute
              console commands.</p>
            <p>Only add trusted friends as sub-users. Support will not be able to fix damage done by sub-users.</p>
            <div *ngIf="error" class="invalid-feedback">
              <div class="invalid bigerror">Failed to add subuser; {{ error }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-panel-frame>
