<app-panel-frame>
  <div *ngIf="blocked" id="blocked">
    <p>File editor is not currently available. Try reloading the page.</p>
  </div>
  <div *ngIf="loading && !blocked" id="loading">
    <div class="spinner"></div>
    <p>Getting file contents...</p>
  </div>
  <div *ngIf="!blocked && !loading" class="row" id="editor">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <span>{{ newFile ? 'Creating ' : 'Editing'  }} file "{{ editName }}"</span>
          <span (click)="getContents()" class="badge badge-default badge-pill float-right"><i class="material-icons">refresh</i></span>
        </div>
        <div class="card-block">
          <form (ngSubmit)="onEdit()" [formGroup]="editForm">
            <div class="form-group">
              <div *ngIf="error" class="invalid-feedback">
                <div class="invalid bigerror">Failed to save file contents; {{ error }}</div>
              </div>
              <textarea [ngClass]="{ 'is-invalid': editSubmitted && editForm.controls['content'].errors }"
                        class="form-control" class="form-control" formControlName="content"
                        id="content"
                        rows="30"></textarea>
              <div *ngIf="editSubmitted && editForm.controls['content'].errors" class="invalid-feedback">
                <div *ngIf="editForm.controls['content'].errors.required" class="invalid">Content is required</div>
              </div>
            </div>
            <div class="form-group">
              <div class="btn-toolbar">
                <button [disabled]="editLoading" class="btn btn-primary" type="submit">Submit</button>
                <a routerLink="/panel/files">
                  <button class="btn btn-secondary" type="button">Cancel</button>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-panel-frame>
