<div id="hero">
  <div class="container">
    <app-navbar></app-navbar>
    <notifier-container></notifier-container>
    <div [@fade]="'in'" class="row hero-content pt-lg-6 pb-lg-6 pt-6">
      <div class="col-md-6 col-sm-12">
        <h1 class="text-uppercase text-center text-md-left">Servers, done simply.</h1>
        <h4 class="text-uppercase text-center text-md-left">Free, optimized, and DDOS protected servers. All at no
          cost.</h4>
      </div>
    </div>
  </div>
</div>
<div class="details">
  <div class="container">
    <div class="marketing">
      <div class="row">
        <div class="col-md-4 col-sm-12 topic">
          <h1><i class="material-icons">beenhere</i> No hassle</h1>
          <h2>Forget digging around in configuration files, port forwarding, and worrying about security. We've taken
            care of all of that so you don't have to. </h2>
        </div>
        <div class="col-md-4 col-sm-12 topic">
          <h1><i class="material-icons">storage</i> Super fast</h1>
          <h2>We've taken care to provide the best experience possible. Our platform is best-in-class and built for
            speed. </h2>
        </div>
        <div class="col-md-4 col-sm-12 topic">
          <h1><i class="material-icons">attach_money</i> Affordable</h1>
          <h2>Looking for more speed and features? We offer powerful, cheap, low cost server plans. No migration
            needed! </h2>
        </div>
      </div>
    </div>
    <hr>
    <div class="stats">
      STATUS HERE (do this once Redis endpoints are working)
    </div>
  </div>
</div>
