<app-panel-frame>
  <div *ngIf="changeLoading" id="loading">
    <div class="spinner"></div>
    <p>Loading server data...</p>
  </div>

  <div *ngIf="!changeLoading" class="row" id="settings">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <span>General Settings</span>
        </div>
        <div class="card-block">
          <div *ngIf="nothingToChange" id="empty-change">
            <p>There seems to be nothing here...</p>
          </div>
          <div *ngIf="!nothingToChange">
            <p><b>Please note:</b> Changing your server plan may have unintended side-effects such as plugin removal.
              This change may be irreversible, due to certain technical limitations of certain games.</p>
            <button [disabled]="serverSocket.lastStatus !== 'Stopped' || changeLoading" class="btn btn-secondary btn-block server-action"
                    data-target="#changeModal"
                    data-toggle="modal" type="button">Change Plan
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" id="danger">
      <div class="card">
        <div class="card-header">
          <span>Danger Zone</span>
        </div>
        <div class="card-block">
          <p><b>Warning:</b> Server removal will result in immediate permanent loss of data. We recommend downloading
            your server files on a daily basis and backing up your data. We are not able to recover your server after
            deletion.</p>
          <div>
            <button [disabled]="serverSocket.lastStatus !== 'Stopped'" class="btn btn-danger btn-block server-action" data-target="#removeModal"
                    data-toggle="modal" type="button">Remove My Server
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="removeModal" class="modal fade" id="removeModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reinstallModalLabel">Are you sure?</h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><b>Wait just one moment!</b> Are you sure you want to remove your server? If your experiencing technical
            issues, our support team would be happy to assist you.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Nevermind</button>
          <button (click)="removeServer()" [disabled]="serverSocket.lastStatus !== 'Stopped'" class="btn btn-primary"
                  data-dismiss="modal" type="button">I'm sure
          </button>
        </div>
      </div>
    </div>
  </div>
  <div #changeModal aria-hidden="true" aria-labelledby="changeModal" class="modal fade" id="changeModal" role="dialog"
       tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form (ngSubmit)="updatePlan()" [formGroup]="changeForm">
          <div class="modal-header">
            <h5 class="modal-title" id="changeModalLabel">Update server plan</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Warning:</b> Changing your server plan may be irreversible.</p>
            <div class="form-group">
              <label for="preset">Server plan</label>
              <select [ngClass]="{ 'is-invalid': changeSubmitted && changeForm.controls['preset'].errors }" class="form-control" formControlName="preset"
                      id="preset">
                <option *ngFor="let preset of presetList" [ngValue]="preset._id">{{ preset.name }}</option>
              </select>

              <div *ngIf="changeSubmitted && changeForm.controls['preset'].errors" class="invalid-feedback">
                <div *ngIf="changeForm.controls['preset'].errors.required" class="invalid">Type is required</div>
              </div>
            </div>
            <div *ngIf="error" class="invalid-feedback">
              <div class="invalid bigerror">Failed to change preset; {{ error }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            <button [disabled]="serverSocket.lastStatus !== 'Stopped' || changeLoading" class="btn btn-primary"
                    type="submit">Update plan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-panel-frame>
