<app-navbar></app-navbar>
<div id="panel" class="" [class.sidebarHidden]="!sidebarDisplayed">
  <div id="sidebar">
    <div class="dropdown">
      <select #server id="preset" type="preset" class="form-control" (change)="update(server.value)">
        <option class="dropdown-item" *ngFor="let server of servers" value="{{server._id}}"
                [selected]="server._id === currentServer._id">{{ server.isOwner ? server.name : server.name + " (sub-user)" }}</option>
      </select>
    </div>
    <ul class="sidebar-content">
      <div *ngIf="!selectedServer.ownsOne">
        <li class="title">
          <span>Account:</span>
        </li>
        <li class="srv-mgt">
          <a routerLink="/panel/create"><i class="material-icons">add_box</i>Create Server</a>
        </li>
      </div>
      <li class="title title-upper">
        <span>Manage:</span>
      </li>
      <li class="srv-mgt" [class.selected]="currentUrl == '/panel'">
        <a routerLink="/panel"><i class="material-icons">code</i>Console</a>
      </li>
      <li class="srv-mgt">
        <a href="#"><i class="material-icons">file_copy</i>Files</a>
      </li>
      <li class="srv-mgt end" *ngIf="isOwner" [class.selected]="currentUrl == '/panel/subusers'">
        <a routerLink="/panel/subusers"><i class="material-icons">people</i>Subusers</a>
      </li>
      <li class="srv-mgt end" *ngIf="isOwner" [class.selected]="currentUrl == '/panel/settings'">
        <a routerLink="/panel/settings"><i class="material-icons">settings</i>Settings</a>
      </li>
      <li class="srv-mgt end" [class.selected]="currentUrl == '/panel/plugins'">
        <a routerLink="/panel/settings"><i class="material-icons">developer_board</i>Mods</a>
      </li>
      <div *ngIf="isMinecraft" class="plugin-viewer">
        <li class="title title-upper">
          <span>Minecraft:</span>
        </li>
        <li class="srv-mgt">
          <a href="#"><i class="material-icons">person</i>Players</a>
        </li>
        <li class="srv-mgt">
          <a routerLink="/panel/minecraft/plugins" [class.selected]="currentUrl == '/panel/minecraft/plugins'"><i
            class="material-icons">settings_input_hdmi</i>Plugins</a>
        </li>
        <li class="srv-mgt">
          <a href="#"><i class="material-icons">link</i>Domain</a>
        </li>
        <li class="srv-mgt">
          <a href="#"><i class="material-icons">reorder</i>Properties</a>
        </li>
      </div>
    </ul>
  </div>
  <div id="panel-content">
    <div id="heading">
      <button *ngIf="!sidebarDisplayed" (click)="toggleSidebar()" type="button" class="btn btn-primary"><i
        class="material-icons switch-arrow">arrow_right</i></button>
      <button *ngIf="sidebarDisplayed" (click)="toggleSidebar()" type="button" class="btn btn-primary"><i
        class="material-icons switch-arrow">arrow_left</i></button>
      <div id="server">
        <span id="status"><span class="bold">Status: </span>{{status}}  <span class='dot'
                                                                              [ngClass]="{'Starting': 'dot-working', 'Running': 'dot-running', 'Stopping': 'dot-working', 'Stopped':'dot-stopped', 'Crashed':'dot-stopped', 'Loading':'dot-working' }[status]"></span> </span>
      </div>
    </div>
    <notifier-container></notifier-container>
    <ng-content></ng-content>
  </div>
</div>
