<app-navbar></app-navbar>
<div *ngIf="loading" id="loading">
  <div class="spinner"></div>
  <p>Getting user data...</p>
</div>
<div class="container" *ngIf="!loading">
  <div id="title">
    <h2>Your Account</h2>
    <p>In order to comply with GDPR guidelines, this is a overview of data we possess on you. Contact our support if you
      wish to receive more in-depth information.</p>
  </div>
  <p><b>Simply Servers ID: </b> {{data._id}}</p>
  <p><b>Email: </b> {{data.account_info.email}}</p>
  <p><b>Group ID: </b> {{data.account_info.group}}</p>
  <p><b>Username: </b> {{data.account_info.username}}</p>
  <p><b>Balance: </b> {{data.balance}} shards</p>
  <p><b>Account verified: </b> {{data.account_info.accountVerify.accountVerified}}</p>
  <div *ngIf="data.game_info &&
  data.game_info.minecraft">

    <p><b>Minecraft: </b></p>
    <div class="shift" *ngIf="data.game_info.minecraft.boughtPlugins "><p><b>Plugins
      Bought: </b> {{data.game_info.minecraft.boughtPlugins}}</p></div>
    <div class="shift" *ngIf="data.game_info.minecraft.uuid"><p><b>UUID: </b> {{data.game_info.minecraft.uuid}}</p>
    </div>
    <div class="shift" *ngIf="data.game_info.minecraft.username"><p>
      <b>Username: </b> {{data.game_info.minecraft.username}}</p></div>
  </div>
  <div *ngIf="data.game_info &&
  data.game_info.steam">

    <p><b>Steam: </b></p>
    <div class="shift" *ngIf="data.game_info.steam.steamID"><p><b>Steam ID: </b> {{data.game_info.steam.steamID}}</p>
    </div>
    <div class="shift" *ngIf="data.game_info.steam.username"><p><b>Username: </b> {{data.game_info.steam.username}}</p>
    </div>
  </div>
  <div class="row" id="account-actions">
    <div class="col-md-6 col-sm-12">
      <a routerLink="/password/change">
        <button type="button" class="btn btn-primary btn-block server-action">Change password</button>
      </a>
    </div>
    <div class="col-md-6 col-sm-12">
      <button *ngIf="!data.game_info ||
      !data.game_info.minecraft ||
      !data.game_info.minecraft.uuid" type="button" class="btn btn-primary btn-block server-action">

        Link Minecraft account
      </button>
      <button *ngIf="data.game_info &&
      data.game_info.minecraft &&
      data.game_info.minecraft.uuid" type="button" class="btn btn-primary btn-block server-action">

        Unlink Minecraft account
      </button>
    </div>
  </div>

</div>
