<app-panel-frame>
  <div *ngIf="loading" id="loading">
    <div class="spinner"></div>
  </div>
  <div class="row" id="console" *ngIf="!loading">
    <div class="col-md-9 col-sm-12">
      <div class="card">
        <div class="card-header">
          Server Console
        </div>
        <div class="card-block">
          <textarea readonly class="form-control" rows="30" #textAreaElement >{{ consoleHistory }}</textarea>
        </div>
        <div class="card-footer text-muted">
          <form [formGroup]="commandForm" (ngSubmit)="onCommand()">
            <div class="row">
              <div class="col-sm-10" id="commandField">
                <input id="command" placeholder="Type command here..." formControlName="command" class="form-control" [ngClass]="{ 'is-invalid': commandSubmitted && commandForm.controls['command'].errors }" />
              </div>
              <div class="col-sm-2" id="sendField">
                <button [disabled]="commandLoading" class="btn btn-primary">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="card">
        <div class="card-header">
          Server Controls
        </div>
        <div class="card-block">
          <button [disabled]="serverSocket.lastBlocked || serverSocket.lastStatus !== 'Stopped'" *ngIf="!serverSocket.lastInstalled" (click)="installServer()" type="button" class="btn btn-info btn-lg btn-block server-action" data-toggle="modal" data-target="#installModal">
            Install Server
          </button>
          <button [disabled]="!serverSocket.lastInstalled || serverSocket.lastBlocked || serverSocket.lastStatus !== 'Stopped'" (click)="serverOn()" type="button" class="btn btn-success btn-lg btn-block server-action">Start Server</button>
          <button [disabled]="!serverSocket.lastInstalled || serverSocket.lastBlocked || serverSocket.lastStatus !== 'Running'" (click)="serverOff()" type="button" class="btn btn-danger btn-stop btn-lg btn-block server-action">Stop Server</button>
          <button [disabled]="!serverSocket.lastInstalled || serverSocket.lastBlocked || (serverSocket.lastStatus !== 'Running' && serverSocket.lastStatus !== 'Stopping' && serverSocket.lastStatus !== 'Starting')" (click)="serverKill()" type="button" class="btn btn-warning btn-lg btn-block server-action">Force kill Server</button>
          <button [disabled]="serverSocket.lastBlocked || serverSocket.lastStatus !== 'Stopped'" *ngIf="serverSocket.lastInstalled" type="button" class="btn btn-info btn-lg btn-block server-action" data-toggle="modal" data-target="#reinstallModal">
            Reinstall Server
          </button>
        </div>
      </div>
      <div class="card" id="usage">
        <div class="card-header">
          Server Details
        </div>
        <div class="card-block">
          <p><span class="value">Credits/day: </span>{{ currentServer.preset.creditsPerDay }}</p>
          <p><span class="value">Plan name: </span>{{ currentServer.preset.name }}</p>
          <p><span class="value">Max Players: </span>{{ currentServer.preset.maxPlayers }}</p>
          <p><span class="value">Memory: </span>{{ currentServer.preset.build.mem }}MB</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="reinstallModal" tabindex="-1" role="dialog" aria-labelledby="installModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reinstallModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>If you have an issue (or need help) with your server, contact our support team before performing a reinstall.</p>
          <p>This action will permanently remove all server data; we cannot recover server data if a reinstall is performed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button [disabled]="serverSocket.lastBlocked || !serverSocket.lastInstalled" (click)="reinstallServer()" type="button" data-dismiss="modal" class="btn btn-primary">Reinstall</button>
        </div>
      </div>
    </div>
  </div>
</app-panel-frame>
