<app-navbar></app-navbar>
<div id="panel">
  <div id="sidebar">
    <ul class="sidebar-content">
      <li class="srv-mgt">
        <a href="#"><i class="material-icons">code</i>Console</a>
      </li>
      <li class="srv-mgt">
        <a href="#"><i class="material-icons">developer_board</i>Plugins</a>
      </li>
      <li class="srv-mgt">
        <a href="#"><i class="material-icons">reorder</i>Properties</a>
      </li>
      <li class="srv-mgt">
        <a href="#"><i class="material-icons">file_copy</i>Files</a>
      </li>
      <li class="srv-mgt">
        <a href="#"><i class="material-icons">person</i>Players</a>
      </li>
      <li class="srv-mgt">
        <a href="#"><i class="material-icons">link</i>Domain</a>
      </li>
      <li class="srv-mgt end">
        <a href="#"><i class="material-icons">settings</i>Settings</a>
      </li>
    </ul>
  </div>
  <div id="panel-content">
    <div id="heading">
      <div id="server">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Testing server
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
