$sidebar-width: 22vh;

body{
  background-color: #e2e2e2;
}

#panel {
  color: #363636;
  position:relative;

  height: auto;
  min-height: 100%;

  #panel-content{
    padding-left: $sidebar-width;
  }
}

p{
  white-space: pre;
}
